// Body
$body-bg: #f8fafc;

// $font-family-sans-serif: "Amatic SC", sans-serif;
$font-family-sans-serif: "Amatic SC", sans-serif;
// --bs-body-font-family

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.35rem;
$line-height-base: 1.6;
